/*#d9d9d9*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.font-primary {
  font-family: Shrikhand;
}

/*@function font-color-choice($background-color) {
    if ($background-color == black){
       @return lighten(grey);
    } else {
       @return black;
      }
}

@mixin font-color($ft-color: font-color-choice(map-get($color-background, footer))) {
    color: $ft-color;

    @include font-color($color-background);
}*/
.font-text {
  font-family: Roboto;
  font-size: 14px;
  /*0.9rem*/
}
@media (min-width: 992px) {
  .font-text {
    font-size: 16px;
  }
}
.font-text--bold {
  font-weight: 400;
}
.font-text--bolder {
  font-weight: 500;
}
.font-text--smaller {
  font-size: 12px;
}
@media (min-width: 992px) {
  .font-text--smaller {
    font-size: 14px;
  }
}

.font-h2 {
  font-family: Roboto;
  font-size: 19px;
  /*1.2rem*/
  margin: 0px;
}
@media (min-width: 992px) {
  .font-h2 {
    font-size: 22px;
  }
}

.font-h3 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  /*1rem*/
  color: #333333;
}
@media (min-width: 992px) {
  .font-h3 {
    font-size: 18px;
  }
}
.font-h3--bolder {
  font-weight: 600;
}

/*

   h1 big title font-size bold
   h2 small title fs 16px? bold
    text fs 16px? thin 
    button fs 14px  font-text bold bolder
   h3 footer logo 
*/
/* header */
header {
  /*border: 2px solid blue; /* nb : visualisation */
  width: 100%;
  height: 60px;
  display: flex;
  /*repetition 1*/
  justify-content: space-around;
  /*repetition 1*/
  align-items: center;
  /*repetition 1*/
}

.logo {
  width: 150px;
}

.title-h2 {
  padding: 40px 5px 15px 20px;
}

.return-home {
  position: absolute;
  left: 20px;
  padding-top: 3px;
  font-size: 18px;
  color: #333333;
}

/* main */
.app__geolocation {
  height: 50px;
  background-color: #e6e6e6;
  border-top: 3px solid #cdcdcd;
  display: flex;
  /*repetition 2*/
  justify-content: center;
  /*repetition 2*/
  align-items: center;
  /*repetition 2*/
}
.app__geolocation__elem {
  padding: 0px 20px 0px 0px;
}
.app__geolocation__elem--color {
  color: #333333;
}
.app__get-restaurant {
  height: 250px;
  background-color: #f3f3f3;
  text-align: center;
}
.app__get-restaurant .font-h2 {
  padding: 40px 55px 5px 50px;
}
.app__get-restaurant .font-h3 {
  padding: 5px 20px 30px 20px;
}
.app__get-restaurant__btn {
  padding-top: 10px;
}
.app__operate {
  height: 370px;
  background-color: white;
}
.app__operate__cards {
  display: flex;
  flex-direction: column;
}
.app__operate__cards__card {
  display: flex;
  background-color: #f3f3f3;
  box-shadow: 0px 5px 10px #cdcdcd;
  /*repetition 5*/
  padding: 20px 15px 20px 15px;
  margin: 10px 20px 10px 20px;
  /*repetition 4?*/
  border-radius: 18px;
  cursor: pointer;
}
.app__operate__cards__card .fa-solid {
  padding: 2px 15px 2px 15px;
}
.app__operate__cards__card:hover {
  background-color: #ebebeb;
}
.app__operate__cards__card:hover .fa-solid {
  color: #9356DC;
}
.app__operate__cards__card__num {
  background-color: #9356DC;
  border-radius: 50px;
  padding: 4px 7px 2px 7px;
  font-size: 12px;
  color: white;
  position: absolute;
  margin-left: -25px;
}
.app__operate__cards__card .fa-solid {
  color: #9a9a9a;
}
.app__operate__cards__card .font-text--bolder {
  padding-top: 3px;
}
@media (min-width: 992px) {
  .app__operate__cards {
    flex-direction: row;
    margin-left: 20px;
  }
  .app__operate__cards__card {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .app__operate {
    height: 200px;
  }
}

.btn {
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(353deg, #9356DC, #FF79DA);
  box-shadow: 0px 5px 10px #cdcdcd;
}
.btn:hover {
  /*effet de survol le bouton s'eclaircit et l'ombre s'assombrit*/
  background-image: linear-gradient(353deg, #a16be0, #FF79DA);
  box-shadow: 0px 5px 10px #b3b3b3;
  /* repetition box shadow*/
}

.restaurant {
  background-color: #f3f3f3;
}
.restaurant__cards {
  display: flex;
  flex-direction: column;
}
.restaurant__cards__card {
  height: 200px;
  margin: 10px 20px 10px 20px;
  /*repetition 4*/
  border-radius: 15px;
  /*repetition card*/
  background-color: white;
  /*repetition card*/
  box-shadow: 0px 5px 10px #cdcdcd;
  /*repetition 5*/
  transition: transform 200ms linear;
}
.restaurant__cards__card:hover {
  /*transform: scale(1.01);  pour ajouter un effet de zoom au survol */
  box-shadow: 0px 5px 10px #b3b3b3;
  /* repetition box shadow*/
}
.restaurant__cards__card__link {
  cursor: pointer;
}
.restaurant__cards__card__link__img {
  height: 65%;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}
.restaurant__cards__card__link__img--new-tag {
  position: absolute;
  height: 20px;
  width: 70px;
  top: 10px;
  right: 15px;
  background-color: #99E2D0;
  color: #32b091;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.restaurant__cards__card__link__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restaurant__cards__card__link__txt {
  height: 35%;
  color: black;
  padding: 10px 20px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.restaurant__cards__card__link__txt--flex {
  display: flex;
  flex-direction: column;
}
.restaurant__cards__card__link__txt .font-h3 {
  padding-top: 5px;
}
.restaurant__cards__card__link__txt .fa-regular:hover {
  color: white;
  background-color: white;
  opacity: 0;
}
.restaurant__cards__card__link__txt .fa-heart {
  position: absolute;
  right: 30px;
  font-size: 22px;
  padding-top: 10px;
}
.restaurant__cards__card__link__txt .fa-heart--like {
  opacity: 0;
}
.restaurant__cards__card__link__txt .fa-heart--like:hover {
  opacity: 1;
  color: white;
  /*background-image: linear-gradient(0deg, $color-primary, $color-secondary);*/
  animation: like 0.6s forwards;
}
@media (min-width: 992px) {
  .restaurant__cards {
    display: flex;
    flex-direction: row;
  }
  .restaurant__cards__card {
    width: 40%;
  }
}

.last-card {
  margin-bottom: 50px;
}

@keyframes like {
  0% {
    background-color: white;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  30% {
    background: linear-gradient(0deg, white, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  60% {
    background: linear-gradient(0deg, white, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  100% {
    background: linear-gradient(0deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /*-webkit-text-stroke: 2px white;*/
  }
}
/* footer */
.footer {
  height: 200px;
  background-color: #333333;
  width: 100%;
}
.footer__elem {
  padding: 20px 20px 15px 20px;
}
.footer__list__elem {
  padding: 5px 20px;
}
.footer .font-primary {
  color: white;
  font-weight: 400;
}
.footer .font-text {
  color: #f3f3f3;
}

.fa-footer.fa-utensils {
  padding-right: 12px;
}
.fa-footer.fa-handshake-angle {
  font-size: 13px;
  padding-right: 10px;
}

/*Menu*/
.font-h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
}

.banner {
  background-color: #f3f3f3;
  height: 250px;
}
.banner__img {
  height: 100%;
  width: 100%;
}
.banner__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.menu {
  background-color: #f3f3f3;
  border-radius: 30px 30px 0px 0px;
  margin-top: -50px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.menu__title {
  padding: 30px 15px 20px 15px;
}
.menu__title .fa-heart {
  position: absolute;
  right: 30px;
  font-size: 22px;
  padding-top: 10px;
  margin-top: -35px;
}
.menu__title .fa-heart--like {
  opacity: 0;
}
.menu__title .fa-heart--like:hover {
  opacity: 1;
  /*background-image: linear-gradient(0deg, $color-primary, $color-secondary);*/
  /*background: linear-gradient(180deg, #FF79DA, #9356DC);*/
  animation: like 0.6s forwards;
}
.menu__title .fa-regular:hover {
  color: white;
  opacity: 0;
}
@media (min-width: 1100px) {
  .menu-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px 20px 50px;
  }
}
.menu--elem-padding {
  padding: 0px 15px 0px 15px;
  /*mixin*/
}
.menu--elem-text-color {
  color: #333333;
}
.menu--underline {
  /*mixin*/
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.menu__cards {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  animation: menu_card_appear 1s alternate forwards;
}
@media (min-width: 1100px) {
  .menu__cards {
    width: 33%;
  }
}
.menu__cards__card {
  height: 60px;
  margin: 10px 15px 10px 15px;
  /*repetition small card*/
  border-radius: 15px;
  /*repetition card*/
  background-color: white;
  /*repetition card*/
  box-shadow: 0px 5px 10px #cdcdcd;
  /*repetition 5*/
  padding: 15px 20px 10px 10px;
  opacity: 0;
  animation: menu_card_appear 1s alternate forwards;
}
.menu__cards__card--price-padd {
  margin-left: 10px;
}
.menu__cards__card--title-position {
  /**/
}
.menu__cards__card--text-position {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  white-space: nowrap;
  /* pour les ...*/
}
.menu__btn {
  padding: 5px 0px 40px 0px;
  text-align: center;
}
.menu__btn .btn {
  padding: 12px 40px 12px 40px;
}

@keyframes menu_card_appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transform-origin: bottom;
  }
}
.appear-order-1 {
  animation-delay: 400ms;
}

.appear-order-2 {
  animation-delay: 700ms;
}

.appear-order-3 {
  animation-delay: 1000ms;
}

.appear-order-4 {
  animation-delay: 1300ms;
}

.appear-order-5 {
  animation-delay: 1600ms;
}

/*# sourceMappingURL=main.css.map */
