$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-font-dark: #333333;

$color-background: (main: #e6e6e6, elem: white, footer: black);
/*#d9d9d9*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

.font-primary {
    font-family: Shrikhand;
}

/*@function font-color-choice($background-color) {
    if ($background-color == black){
       @return lighten(grey);
    } else {
       @return black;
      }
}

@mixin font-color($ft-color: font-color-choice(map-get($color-background, footer))) {
    color: $ft-color;
}*/

.font-text {
    font-family: Roboto;
    font-size: 14px; /*0.9rem*/
    /*@include font-color($color-background);*/

    &--bold {
        font-weight: 400;
    }

    &--bolder {
        font-weight: 500;
    }

}

.font-h2 {
    font-family: Roboto;
    font-size: 19px; /*1.2rem*/
    margin: 0px;
}

.font-h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px; /*1rem*/
    color: $color-font-dark;
    &--bolder {
        font-weight: 600;
    }
}

/*
    
   h1 big title font-size bold
   h2 small title fs 16px? bold
    text fs 16px? thin 
    button fs 14px  font-text bold bolder
   h3 footer logo 
*/

/* header */

header {
    /*border: 2px solid blue; /* nb : visualisation */
    width: 100%;
    height: 60px;
    display: flex; /*repetition 1*/
    justify-content: space-around; /*repetition 1*/
    align-items: center; /*repetition 1*/
}

.logo {
    width: 150px;
}

.title-h2 {
    padding: 40px 5px 15px 20px;
}

.return-home {
    position: absolute;
    left: 20px;
    padding-top: 3px;
    font-size: 18px;
    color: $color-font-dark;
}


/* main */
.app {
    &__geolocation {
        height: 50px;
        background-color: map-get($color-background, main);
        border-top: 3px solid darken(map-get($color-background, main), 10%);
        display: flex; /*repetition 2*/
        justify-content: center; /*repetition 2*/
        align-items: center; /*repetition 2*/
        &__elem {
            padding: 0px 20px 0px 0px;

            &--color {
                color: $color-font-dark;
            }
        }
    }

    &__get-restaurant {
        height: 250px;
        background-color: lighten(map-get($color-background, main), 5%);
        text-align: center;

        .font-h2 {
            padding: 40px 55px 5px 50px;
        }

        .font-h3 {
            padding: 5px 20px 30px 20px;
        }

        &__btn {
            padding-top: 10px;
        }
    }

    &__operate {
        height: 370px;
        background-color: map-get($color-background, elem);

        &__cards {
            display: flex;
            flex-direction: column;

            &__card {
                display: flex;
                background-color: lighten(map-get($color-background, main), 5%);
                box-shadow: 0px 5px 10px darken(map-get($color-background, main), 10%); /*repetition 5*/
                padding: 20px 15px 20px 15px;
                margin: 10px 20px 10px 20px; /*repetition 4?*/
                border-radius: 18px;

                .fa-solid {
                    padding: 2px 15px 2px 15px;
                }

                &.card--colored {
                    background-color: lighten(map-get($color-background, main), 2%);

                    .fa-solid {
                        color: $color-primary;
                    }
                }

                &__num {
                    background-color: $color-primary;
                    border-radius: 50px;
                    padding: 4px 7px 2px 7px;
                    font-size: 12px;
                    color: map-get($color-background, elem);
                    position: absolute;
                    margin-left: -25px;
                }

                .fa-solid {
                    color: darken(map-get($color-background, main), 30%);
                }

                .font-text--bolder {
                    padding-top: 3px;
                }
            }
        }
    }
}

.btn {
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(353deg, $color-primary, $color-secondary);
    box-shadow: 0px 5px 10px darken(map-get($color-background, main), 10%);
}

.restaurant {
    background-color: lighten(map-get($color-background, main), 5%);

    &__cards {
        display: flex;
        flex-direction: column;
        /**/
        &__card {
            height: 200px;
            margin: 10px 20px 10px 20px; /*repetition 4*/
            border-radius: 15px;
            background-color: map-get($color-background, elem);
            box-shadow: 0px 5px 10px darken(map-get($color-background, main), 10%); /*repetition 5*/
            /**/
            &__link {
                cursor: pointer;
                /**/
                &__img {
                    height: 65%;
                    overflow: hidden;
                    border-radius: 15px 15px 0px 0px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    /**/
                }

                &__txt {
                    height: 35%;
                    color: black;
                    padding: 10px 40px 10px 10px;

                    .font-h3 {
                        padding-top: 5px;
                    }

                    .fa-heart {
                        position: absolute;
                        right: 30px;
                        font-size: 22px;
                        padding: 10px 10px;
                    }
                }
            }
        }
    }
}

.last-card {
    padding-bottom: 50px;
}

/* footer */

.footer {
    height: 200px;
    background-color: lighten(map-get($color-background, footer), 20%);

    &__elem {
        padding: 20px 20px 15px 20px;
    }
    &__list__elem {
        padding: 5px 20px;
    }

    .font-primary {
        color: white;
        font-weight: 400;
    }
    .font-text {
        color: lighten(map-get($color-background, main), 5%);
    }
}

.fa-footer {
    &.fa-utensils {
        padding-right: 12px;
    }

    &.fa-handshake-angle {
        font-size: 13px;
        padding-right: 10px;
    }
}


/*Menu*/



.font-h1 {
    /**/
    margin: 0;
    font-size: 24px;
    font-weight: 100;
}

.descript-card {
    /**/
    height: 250px;
    &__img {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__title {
        background-color: lighten(map-get($color-background, main), 5%);
        border-radius: 30px 30px 0px 0px;
        padding: 30px 15px 20px 15px;
        bottom: 180px;
        position: absolute;
        width: 100%;
        

        .fa-heart {
            position: absolute;
            right: 30px;
            font-size: 22px;
            padding-top: 10px;
            margin-top: -35px;
        }
    }
}

.menu {
    background-color: lighten(map-get($color-background, main), 5%);

    &--elem-padding {
        padding: 0px 15px 0px 15px; /*mixin*/
    }
    &--underline { /*mixin*/
        background-color: $color-tertiary;
        height: 3px;
        width: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 15px;
    }


    &__btn {
        padding: 30px 0px 30px 0px;
        text-align: center;

        .btn {
            padding: 12px 40px 12px 40px;
        }
    }
}

