$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-font-dark: #333333;

$color-background: (main: #e6e6e6, elem: white, footer: black);
/*#d9d9d9*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

.font-primary {
    font-family: Shrikhand;
}

.font-text {
    font-family: Roboto;
    font-size: 14px; /*0.9rem*/
    @media (min-width: 1100px) {
        font-size: 16px;
    }

    &--bold {
        font-weight: 400;
    }

    &--bolder {
        font-weight: 500;
    }

    &--smaller {
        font-size: 12px;

        @media (min-width: 1100px) {
            font-size: 14px;
        }
    }
}

.font-h2 {
    font-family: Roboto;
    font-size: 19px; /*1.2rem*/
    margin: 0px;

    @media (min-width: 992px) {
        font-size: 22px;
    }
}

.font-h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px; /*1rem*/
    color: $color-font-dark;

    @media (min-width: 1100px) {
        font-size: 18px;
    }

    &--bolder {
        font-weight: 600;
    }
}


/* Loader */


.bg-grey {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: lighten(map-get($color-background, footer), 20%);
    z-index: 2;
    position: fixed;
    animation: disappear 0s linear 3s forwards;
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappear 0s linear 3s forwards;

    &__popup {
        width: 200px;
        height: 200px;
        position: relative;
        opacity: 1;
        background-color: map-get($color-background, elem);
        z-index: 4;
        border-radius: 20px;

        &--spin {
            position: absolute;
            top: 20%;
            left: 20%;
            border: 16px solid map-get($color-background, main);
            border-top: 16px solid $color-tertiary;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 1.4s linear 2;
        }

        &--mid-icon {
            position: absolute;
            width: 50px;
            height: 50px;
            opacity: 1;
            font-size: 50px;
            top: 38%;
            left: 38%;
            color: darken(map-get($color-background, main), 10%);
            -webkit-background-clip: text;
            background-clip: text;
            animation: loader-fill 3s 1 forwards;
        }
    }
}


/* header */


header {
    /*border: 2px solid blue; /* nb : visualisation */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 150px;
}

.title-h2 {
    padding: 40px 5px 15px 20px;
}

.return-home {
    position: absolute;
    left: 20px;
    padding-top: 3px;
    font-size: 18px;
    color: $color-font-dark;
}


/* main */


.app {
    &__geolocation {
        height: 50px;
        background-color: map-get($color-background, main);
        border-top: 3px solid darken(map-get($color-background, main), 10%);
        display: flex;
        justify-content: center;
        align-items: center;
        &__elem {
            padding: 0px 20px 0px 0px;

            &--color {
                color: $color-font-dark;
            }
        }
    }

    &__get-restaurant {
        height: 250px;
        background-color: lighten(map-get($color-background, main), 5%);
        text-align: center;

        .font-h2 {
            padding: 40px 55px 5px 50px;
        }

        .font-h3 {
            padding: 5px 20px 30px 20px;
        }

        &__btn {
            padding-top: 10px;
        }
    }

    &__operate {
        height: 370px;
        background-color: map-get($color-background, elem);

        &__cards {
            display: flex;
            flex-direction: column;

            &__card {
                display: flex;
                background-color: lighten(map-get($color-background, main), 5%);
                box-shadow: 0px 5px 10px darken(map-get($color-background, main), 10%);
                padding: 20px 15px 20px 15px;
                margin: 10px 20px 10px 20px;
                border-radius: 18px;
                cursor: pointer;

                .fa-solid {
                    padding: 2px 15px 2px 15px;
                }

                &:hover {
                    background-color: lighten(map-get($color-background, main), 2%);

                    .fa-solid {
                        color: $color-primary;
                    }
                }

                &__num {
                    background-color: $color-primary;
                    border-radius: 50px;
                    padding: 4px 7px 2px 7px;
                    font-size: 12px;
                    color: map-get($color-background, elem);
                    position: absolute;
                    margin-left: -25px;
                }

                .fa-solid {
                    color: darken(map-get($color-background, main), 30%);
                }

                .font-text--bolder {
                    padding-top: 3px;
                }
            }

            @media (min-width: 1100px) {
                flex-direction: row;
                margin-left: 20px;

                &__card {
                    width: 30%;
                }
            }
        }

        @media (min-width: 1100px) {
            height: 200px;
        }
    }
}

.btn {
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(353deg, $color-primary, $color-secondary);
    box-shadow: 0px 5px 10px darken(map-get($color-background, main), 10%);

    &:hover { /*effet de survol le bouton s'eclaircit et l'ombre s'assombrit*/
        background-image: linear-gradient(353deg, lighten($color-primary, 5%), $color-secondary);
        box-shadow: 0px 5px 10px darken(map-get($color-background, main), 20%);
    }
}

.restaurant {
    background-color: lighten(map-get($color-background, main), 5%);

    &__cards {
        display: flex;
        flex-direction: column;

        &__card {
            height: 200px;
            margin: 10px 20px 10px 20px; 
            border-radius: 15px;
            background-color: map-get($color-background, elem);
            box-shadow: 0px 5px 10px darken(map-get($color-background, main), 10%);
            transition: transform 200ms linear;

            &:hover {
                box-shadow: 0px 5px 10px darken(map-get($color-background, main), 20%);
            }

            &__link {
                cursor: pointer;

                &__img {
                    height: 65%;
                    overflow: hidden;
                    border-radius: 15px 15px 0px 0px;
                    position: relative;

                    &--new-tag {
                        position: absolute;
                        height: 20px;
                        width: 70px;
                        top: 10px;
                        right: 15px;
                        background-color: $color-tertiary;
                        color: darken($color-tertiary, 30%);
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                &__txt {
                    height: 35%;
                    color: black;
                    padding: 10px 20px 10px 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    position: relative;

                    &--flex {
                        display: flex;
                        flex-direction: column;
                    }

                    .font-h3 {
                        padding-top: 5px;
                    }
                    .fa-regular {
                        &:hover {
                            color: white;
                            background-color: white;
                            opacity: 0;
                        }
                    }

                    .fa-heart {
                        position: absolute;
                        right: 30px;
                        font-size: 22px;
                        padding-top: 10px;
                        &--like {
                            opacity: 0;

                            &:hover {
                                opacity: 1;
                                color: white;
                                animation: like 0.8s forwards;
                            }
                        }
                    }
                }
            }
        }

        @media (min-width: 1100px) {
            display: flex;
            flex-direction: row;

            &__card {
                width: 40%;
            }
        }
    }
}

.last-card {
    margin-bottom: 50px;
}


/* footer */


.footer {
    height: 200px;
    background-color: lighten(map-get($color-background, footer), 20%);
    width: 100%;

    &__elem {
        padding: 20px 20px 15px 20px;
    }

    &__list__elem {
        padding: 5px 20px;
    }

    .font-primary {
        color: white;
        font-weight: 400;
    }

    .font-text {
        color: lighten(map-get($color-background, main), 5%);
    }
}

.fa-footer {
    &.fa-utensils {
        padding-right: 12px;
    }

    &.fa-handshake-angle {
        font-size: 13px;
        padding-right: 10px;
    }
}


/*Menus*/


.font-h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 100;
}

.banner {
    background-color: lighten(map-get($color-background, main), 5%);
    height: 250px;

    &__img {
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.menu {
    background-color: lighten(map-get($color-background, main), 5%);
    border-radius: 30px 30px 0px 0px;
    margin-top: -50px;
    position: relative;
    width: 100%;
    overflow: hidden;


    &__title {
        padding: 30px 15px 20px 15px;

        .fa-heart {
            position: absolute;
            right: 30px;
            font-size: 22px;
            padding-top: 10px;
            margin-top: -35px;

            &--like {
                opacity: 0;

                &:hover {
                    opacity: 1;
                    animation: like 0.6s forwards;
                }
            }
        }

        .fa-regular {
            &:hover {
                color: white;
                opacity: 0;
            }
        }
    }

    &-part {
        display: flex;
        justify-content: space-between;
        margin: 20px 50px 20px 50px;
        flex-direction: column;
        @media (min-width: 700px) {
            flex-wrap: wrap;
            flex-direction: unset;
        }

        @media (min-width: 1100px) {
            flex-direction: row;
        }
    }

    &--elem-padding {
        padding: 0px 15px 0px 15px;
    }

    &--elem-text-color {
        color: $color-font-dark;
    }

    &--underline {
        background-color: $color-tertiary;
        height: 3px;
        width: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    &__cards {
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        animation: menu_card_appear 1s alternate forwards;

        @media (min-width: 700px) {
            width: 50%;
        }

        @media (min-width: 1100px) {
            width: 33%;
        }



        &__card {
            height: 60px;
            margin: 10px 15px 10px 15px;
            border-radius: 15px;
            background-color: map-get($color-background, elem); 
            box-shadow: 0px 5px 10px darken(map-get($color-background, main), 10%);
            animation: menu_card_appear 1s alternate forwards;
            display: flex;
            justify-content: space-between;
            opacity: 0; /*pour animation arrivee*/

            @media (min-width: 700px) {
                width: 90%;
            }

            &--title-position {
                padding: 15px 10px 10px 10px;
                width: 100%;
                overflow: hidden;
            }

            &--text-position {
                display: flex;
                justify-content: space-between;
                padding-top: 5px;
            }

            &--price-padd {
                margin-left: 10px;
                white-space: normal;
            }

            .check {
                width: 0;
                display: none;
            }

            .fa-circle-check {
                opacity: 0;
                color: white;
            }

            &:hover, &:active {
                .check {
                    background-color: $color-tertiary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60px;
                    border-radius: 0px 15px 15px 0px;
                    animation: check 400ms linear normal forwards;
                }

                .fa-circle-check {
                    animation: check_spin 400ms linear normal forwards;
                    font-size: 24px;
                }
            }
        }
    }

    &__btn {
        padding: 5px 0px 40px 0px;
        text-align: center;

        .btn {
            padding: 12px 40px 12px 40px;
        }
    }
}

.text--wrap { /* pour les ...*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* keyframes et fonctions */


/* animation du like */
@keyframes like {
    0% {
        background-color: white;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    30% {
        background: linear-gradient(0deg, $color-secondary, map-get($color-background, elem), map-get($color-background, elem));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    60% {
        background: linear-gradient(0deg, $color-primary, $color-secondary, $color-secondary, map-get($color-background, elem));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    100% {
        background: linear-gradient(0deg, $color-primary, $color-secondary, $color-secondary);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        /*-webkit-text-stroke: 2px white;*/
    }
}

/* animation du check des menus */
@keyframes check {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
        width: 15%;
    }
}

@keyframes check_spin {
    0% {
        opacity: 0;
        transform: rotate(0);
    }
    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

/* animation ouverture des menus */
@keyframes menu_card_appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        transform-origin: bottom;
    }
}

@for $i from 1 through 5 {
    .appear-order-#{$i} {
        animation-delay: ($i * 300) + 100ms;
    }
}

/* animation du loader */
@keyframes disappear {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
        display: none;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-fill {
    0% {
        background: linear-gradient(0deg, darken(map-get($color-background, main), 20%), darken(map-get($color-background, main), 20%));
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    20% {
        background: linear-gradient(0deg, darken(map-get($color-background, main), 20%), darken(map-get($color-background, main), 20%));
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    30% {
        background: linear-gradient(0deg, $color-primary, darken(map-get($color-background, main), 20%), darken(map-get($color-background, main), 20%), darken(map-get($color-background, main), 20%));
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    40% {
        background: linear-gradient(0deg, $color-primary, $color-primary, darken(map-get($color-background, main), 20%), darken(map-get($color-background, main), 20%), darken(map-get($color-background, main), 20%));
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    60% {
        background: linear-gradient(0deg, $color-primary, $color-primary, darken(map-get($color-background, main), 20%), darken(map-get($color-background, main), 20%));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    80% {
        background: linear-gradient(0deg, $color-primary, $color-primary, $color-primary, darken(map-get($color-background, main), 20%));
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    100% {
        background: linear-gradient(0deg, $color-primary, $color-primary);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

